version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      - postgres
    command: >
      bash -c "
      airflow db init &&
      airflow db upgrade &&
      airflow users create --username airflow --password airflow --firstname Admin --lastname User --role Admin --email admin@example.com || true"
    restart: "no"
    environment:
      - AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://airflow:airflow@postgres:5432/airflow_db

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - ./dags:/opt/airflow/dags
      - ./data:/opt/airflow/dags/data
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - airflow-init
    command: webserver
    environment:
      - AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://airflow:airflow@postgres:5432/airflow_db

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - ./dags:/opt/airflow/dags
      - ./data:/opt/airflow/dags/data
    depends_on:
      - postgres
      - airflow-init
    command: scheduler
    environment:
      - AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://airflow:airflow@postgres:5432/airflow_db

  metabase:
    image: metabase/metabase
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  pgadmin:
    image: dpage/pgadmin4
    env_file: .env
    ports:
      - "8081:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
